.phonebook {
}
.form {
  border: solid black;
  width: 500px;
}
.label {
  display: flex;
  flex-direction: column;
}
.input {
  width: 50%;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 15px;
  padding-left: 10px;
}
.button {
  width: 100px;
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: cyan;
  border: none;
  border-radius: 5px;
}
.button:active {
  background-color: cadetblue;
}
.labelName {
  margin: 0;
  margin-left: 15px;
  font-weight: 700;
  font-size: 25px;
}
